[Desktop Entry]
Name=NovaOS
Comment=NovaOS Gaming Theme
Type=Link
URL=../
X-KDE-PluginInfo-Name=nova
X-KDE-PluginInfo-Author=NovaOS Team
X-KDE-PluginInfo-License=LGPL-3.0
X-KDE-PluginInfo-Version=1.0.0
