INCLUDE archiso_head.cfg

DEFAULT nova
TIMEOUT 150

LABEL nova
TEXT HELP
Boot the NovaOS install medium on BIOS.
It allows you to install NovaOS or perform system maintenance.
ENDTEXT
MENU LABEL NovaOS (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL novaspeech
TEXT HELP
Boot NovaOS on BIOS with speakup screen reader.
ENDTEXT
MENU LABEL NovaOS (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on

INCLUDE archiso_tail.cfg
