[Unit]
Description=GameMode Daemon
After=multi-user.target
Documentation=man:gamemoded(8)

[Service]
Type=dbus
BusName=com.feralinteractive.GameMode
ExecStart=/usr/bin/gamemoded

[Install]
WantedBy=multi-user.target
