[Unit]
Description= Plymouth Manager
DefaultDependencies=no
After=local-fs-pre.target
Before=sysinit.target
Before=basic.target
Before=multi-user.target
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/plymouthd --mode=boot --pid-file=/run/plymouthd.pid
ExecReload=/usr/bin/plymouth --show-splash
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
